<div class="modal fade" id="editRoomMessageModal" aria-hidden="false" aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-simple">
    <%= render "form" %>
  </div>
</div>
