
<!-- Dashboard Headline -->
<div class="dashboard-headline">
	<h3> <%= t('.your_quotes') %> </h3>
</div>
<div class="row">
	<div class="col-xl-12">
		<div class="listings-container margin-top-35" id="job_list">
			<%= render "quote_list" %>
		</div>
	</div>
</div>
<%= content_for :body_script do %>

<% end %>
