<div id="wrapper">

	<!-- Header Container
	================================================== -->
	<div class="clearfix"></div>
	<!-- Header Container / End -->


	<!-- Dashboard Container -->
	<div class="dashboard-container">
		<!-- Dashboard Content
		================================================== -->
		<div class="dashboard-content-container" data-simplebar>
			<div class="dashboard-content-inner" >

				<!-- Dashboard Headline -->
				<div class="dashboard-headline">
					<h3>Créer un devis</h3>
				</div>

				<!-- Row -->
				<div class="row">

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box margin-top-0">

							<!-- Headline -->
							<div class="headline">
								<h3><i class="icon-feather-folder-plus"></i> Fomulaire de création</h3>
							</div>

							<div class="content with-padding padding-bottom-10">
								<div class="row">

									<div class="col-xl-8 offset-2">
										<div class="submit-field">
											<h5>Nom de la mission</h5>
											<input type="text" class="with-border">
										</div>
									</div>
									<div class="col-xl-8 offset-2">
										<div class="submit-field">
											<h5>Détails élement 1</h5>
											<textarea type="text" class="with-border"></textarea>
										</div>
										<div class="row">
											<div class="col-xl-2 submit-field">
												<h5>Prix unit (HT)</h5>
												<div class="input-with-icon">
													<input class="with-border" type="text" placeholder="0">
													<i class="currency">€</i>
												</div>
											</div>

											<div class="col-xl-2 submit-field">
												<h5>Quantité</h5>
												<input type="text" class="with-border" placeholder="1">
											</div>
											<div class="col-xl-2 submit-field">
												<h5>Total (HT)</h5>
												<div class="input-with-icon">
													<input class="with-border" type="text" placeholder="10">
													<i class="currency">€</i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-8 offset-2">

										<h5>Ajouter un élement</h5>

									</div>



								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-12">
						<%= link_to show_path, class:"button ripple-effect big margin-top-30" do %>
						<i class="icon-feather-plus"></i> Créer votre annonce
						<%end%>
					</div>

				</div>
				<!-- Row / End -->

				<div class="dashboard-footer-spacer"></div>
			</div>
		</div>
		<!-- Dashboard Content / End -->

	</div>
	<!-- Dashboard Container / End -->

</div>
