<%= content_for :body_style do%>
<link rel="stylesheet" href="/theme/user/hireo/css/invoice.css">
<%end%>
<div id="wrapper">
	<div class="clearfix"></div>
	<!-- Header Container / End -->
	<!-- Titlebar
	================================================== -->

	<!-- Page Content
	================================================== -->
	<div class="dashboard-container">
		<!-- Dashboard Content
		================================================== -->
		<div class="dashboard-content-container" data-simplebar>
			<div class="dashboard-content-inner" >

				<!-- Dashboard Headline -->
				<div class="dashboard-headline">
					<h3>Récapitulatif du devis n°0001</h3>
				</div>

				<!-- Row -->
				<div class="row">

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box margin-top-0">

							<!-- Headline -->
							<div class="headline">
								<h3><i class="icon-feather-folder-plus"></i> Proposition en attente d'acceptation <mark class="color" style="background-color: orange">En cours</mark></h3>
								<h3><i class="icon-feather-folder-plus"></i> Proposition declinée <mark class="color" style="background-color: #e53038">Declinée</mark></h3>
								<h3><i class="icon-feather-folder-plus"></i> Proposition acceptée <mark class="color" style="background-color: #28b661">Acceptée</mark></h3>

							</div>

							<div class="content with-padding padding-bottom-10">
								<div class="row">
									<div class="col-xl-8" style="background-color: white">
							      <div class="row">
							        <div class="col-12" >
							          <table class="margin-top-20" >
							            <tr>
							              <th>Description</th>
							              <th>Price</th>
							              <th>VAT (20%)</th>
							              <th>Total</th>
							            </tr>

							            <tr>
							              <td>Standard Plan</td>
							              <td>$49.00</td>
							              <td>$9.80</td>
							              <td>$58.80</td>
							            </tr>
							          </table>
							        </div>

							        <div class="col-xl-4 col-xl-offset-8">
							          <table id="totals">
							            <tr>
							              <th>Total Due</th>
							              <th><span>$58.80</span></th>
							            </tr>
							          </table>
							        </div>
							      </div>
										<div class="row margin-top-30">
											<div class="col-12">
												<a href="#" class="" style="margin-right: 10px">Décliner</a>
												<button class="button">Accepter le devis</button>
											</div>
										</div>
							    </div>


							    <div class="col-xl-4 col-lg-4 margin-top-0 margin-bottom-60">
										<div class="">

											<!-- Overview -->
											<div class="freelancer-overview">
												<div class="freelancer-overview-inner">

													<!-- Bookmark Icon -->


													<!-- Avatar -->
													<div class="freelancer-avatar">
														<div class="verified-badge"></div>
														<a href="/theme/user/hireo/single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
													</div>

													<!-- Name -->
													<div class="freelancer-name">
														<h4><a href="/theme/user/hireo/single-freelancer-profile.html">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
														<span>Photographe</span><br>
														<span class="star-rating" data-rating="5.0"></span>
													</div>


													<!-- Rating -->

												</div>

											</div>
											<button href="/theme/user/hireo/dashboard-messages.html" class=" button margin-bottom-10">Envoyer un message</button>

											<!-- Details -->

										</div>
							      <div class="boxed-widget summary margin-top-0">
							        <div class="boxed-widget-headline">
							          <h3>Summary</h3>
							        </div>
							        <div class="boxed-widget-inner">
							          <ul>
							            <li>Standard Plan <span>$49.00</span></li>
							            <li>VAT (20%) <span>$9.80</span></li>
							            <li class="total-costs">Final Price <span>$58.80</span></li>
							          </ul>
							        </div>
							      </div>
							      <!-- Summary -->

							    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Row / End -->

				<div class="dashboard-footer-spacer"></div>
			</div>
		</div>
		<!-- Dashboard Content / End -->

	</div>
</div>
