<!--Logo Part End-->

  <!--Title Part Start-->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
      <tr>
        <td align="center" valign="middle" bgcolor="#4267b2" style="-moz-border-radius: 8px 8px 0px 0px; border-radius: 8px 8px 0px 0px;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
           <td height="25" align="center" valign="middle" style="line-height:25px; font-size:25px;">&nbsp;</td>
            </tr>
          <tr>
            <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:30px; color:#FFF; font-weight:normal;" mc:edit="nm4-02"><multiline> <%= t('.declaration',worker:@job.worker.full_name) %></multiline></td>
            </tr>
          <tr>
           <td height="25" align="center" valign="middle" style="line-height:25px; font-size:25px;">&nbsp;</td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

<!--Title Part End-->

  <!--Content Part Start-->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
      <tr>
          <td align="center" valign="middle" bgcolor="#FFFFFF"><table width="80%" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
          <tr>
            <td height="80" align="center" valign="middle" style="line-height:80px; font-size:80px;">&nbsp;</td>
          </tr>
          <tr>
              <td align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:24px; color:#4267b2; font-weight:normal; line-height:28px;" mc:edit="nm4-03"><multiline> <%= t('.get_your_money') %></multiline></td>
              </tr>
              <tr>
                 <td height="10" align="center" valign="middle" style="line-height:10px; font-size:10px;">&nbsp;</td>
              </tr>


               <tr>
                 <td height="10" align="center" valign="middle" style="line-height:10px; font-size:10px;">&nbsp;</td>
              </tr>

              <tr>
            <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:14px; color:#767676; font-weight:normal; line-height:32px;" mc:edit="nm4-05"><multiline> <%= t('.in_case_of_trouble')%> </multiline></td>
          </tr>

              <tr>
                 <td height="35" align="center" valign="middle" style="line-height:35px; font-size:35px;">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
                <td align="center" valign="middle"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">

            </table></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:18px; color:#4267b2; font-weight:normal; line-height:28px;" mc:edit="nm4-08"><multiline> <%= link_to t('.go_to_account'), edit_user_registration_url(@user) %></multiline></td>
          </tr>
          <tr>
            <td height="80" align="center" valign="middle" style="line-height:80px; font-size:80px;">&nbsp;</td>
          </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>
