<% if resource.errors.any? %>
  <div class="notification error closeable">
    <h2>
       <%= I18n.t("errors.messages.not_saved",count: resource.errors.count) %>
    </h2>
    <% resource.errors.full_messages.each do |message| %>
      <p><%= message.split[2..-1].join(" ") %></p>
    <% end %>
    <a class="close" href="#"></a>
  </div>
<% end %>
