<div class="row">
  <% @portfolio.picture.each do |pp| %>
    <div class="col-xl-3">
        <% if pp.video? %>
          <video style ="width:100%;height:auto"src=<%= polymorphic_url(pp, :host => request.base_url) %> controls></video>
        <% else %>
          <div class="blog-compact-item">
            <img src=" <%= rails_blob_url(pp) %>" alt="">
          </div>
        <% end %>
        <%= link_to t('portfolios.show.remove'), delete_image_attachment_path(id: pp.id),remote: true, id:"linkToRemovePicture", class:"button margin-top-20" %>
    </div>
  <% end %>
</div>
