
<!-- Dashboard Headline -->
<div class="dashboard-headline" style="display:flex; justify-content:space-between">
	<h3><%= t('.your_portfolios') %></h3>
  <%= link_to t('.add_portfolio'), new_portfolio_path, class:"button" %>
</div>

<!-- Row -->
<div class="row">

	<!-- Dashboard Box -->
	<div class="col-xl-12">
    <div id="index">
			<%= render "index" %>
    </div>
	</div>
	


			<!-- Row / End -->
	<div class="dashboard-footer-spacer"></div>
</div>
<%= content_for :body_script do %>
	<script type="text/javascript">
		$(".linkToRemovePortfolio").on('click', function(){
			$.ajax({
				url: '/portfolios/'+this.value,
				type: 'DELETE'
			});
		});
	</script>
<%end %>
