
<!-- Dashboard Headline -->
<div class="dashboard-headline" style="display:flex;justify-content:space-between">
	<h3>Votre portfolio</h3>
	<div class="">
		<%= link_to "Supprimer ce portfolio", portfolio_path(@portfolio), method: :delete, class:"button margin-top-20"  %>
		<%= link_to "Supprimer ce portfolio", portfolio_path(@portfolio), method: :delete, class:"button margin-top-20"  %>
	</div>

</div>

<!-- Row -->
<div class="row">
	<!-- Dashboard Box -->
	<div class="col-xl-12">
		<div id="pictures">
			<%= render "picture" %>
    </div>
	</div>
			<!-- Row / End -->
	<div class="dashboard-footer-spacer"></div>
</div>

<%= content_for :body_script do %>
	<script type="text/javascript">
		$(".linkToRemove").on('click', function(){
			$.ajax({
				url: '/portfolio/delete_image_attachment/'+this.value,
				type: 'GET'
			});
		});
	</script>
<%end %>
