<div id="wrapper">
	<div class="clearfix"></div>
	<!-- Header Container / End -->
	<!-- Titlebar
	================================================== -->
	<div class="single-page-header" data-background-image="images/single-job.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="single-page-header-inner">
						<div class="left-side">
							<div class="header-details">
								<h3>Photographie événement mariage</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Content
	================================================== -->
	<div class="container">
		<div class="row">

			<!-- Content -->
			<div class="col-xl-8 col-lg-8 content-right-offset">

				<div class="single-page-section">

					<h3 class="margin-bottom-25">Description de la mission</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper arcu non nibh sodales pharetra. Integer euismod molestie maximus. Pellentesque congue nisi ac fringilla porta. Quisque sagittis lacus ut rhoncus accumsan. Maecenas arcu magna, dictum imperdiet mi ut, dapibus maximus nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque aliquam, lorem a tincidunt pharetra, ligula massa vehicula dui, sit amet ornare urna dolor non nisi. Praesent a ex vitae massa maximus mollis nec a turpis. Phasellus ac risus vel mauris convallis gravida.</p>
				</div>
				<div class="single-page-section">
					<h3 class="margin-bottom-25">Le professionnel que vous avez choisi</h3>

					<!-- Listings Container -->
					<div class="listings-container grid-layout" style="width: 100%">

						<!-- Job Listing -->
						<div class="freelancers-container freelancers-list-layout margin-top-35">

							<!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="#">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>Photographe</span>
											<!-- Rating -->
											<div class="freelancer-rating">
												<div class="star-rating" data-rating="4.9"></div>
											</div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
											<li>Taux horaire <strong>100€ / h</strong></li>
										</ul>
									</div>
									<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

						</div>
					</div>
					<!-- Listings Container / End -->
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-face"></i> Votre avis</h3>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
								<li>
									<div class="boxed-list-item">
										<!-- Content -->
										<div class="item-content">
											<h4>Shooting photo mariage</h4>
											<span class="company-not-rated margin-bottom-5">Pas encore d'avis</span>
										</div>
									</div>

									<a href="#small-dialog-2" class="popup-with-zoom-anim button ripple-effect margin-top-5 margin-bottom-10"><i class="icon-material-outline-thumb-up"></i> Laisser un avis</a>
								</li>
								<li>
									<div class="boxed-list-item">
										<!-- Content -->
										<div class="item-content">
											<h4>Shooting photo mariage</h4>
											<div class="item-details margin-top-10">
												<div class="star-rating" data-rating="5.0"></div>
												<div class="detail-item"><i class="icon-material-outline-date-range"></i> Août 2019</div>
											</div>
											<div class="item-description">
												<p>Excellent photographe - moment inoubliable.</p>
											</div>
										</div>
									</div>
									<a href="#small-dialog-1" class="popup-with-zoom-anim button gray ripple-effect margin-top-5 margin-bottom-10"><i class="icon-feather-edit"></i> Edit Review</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="single-page-section">
					<h3 class="margin-bottom-25">Ces professionnels pourraient vous convenir</h3>

					<!-- Listings Container -->
					<div class="listings-container grid-layout" style="width: 100%">

						<!-- Job Listing -->
						<div class="freelancers-container freelancers-list-layout margin-top-35">

							<!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="#">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>Photographe</span>
											<!-- Rating -->
											<div class="freelancer-rating">
												<div class="star-rating" data-rating="4.9"></div>
											</div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
											<li>Taux horaire <strong>100€ / h</strong></li>
										</ul>
									</div>
									<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

							<!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="#">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>Photographe</span>
											<!-- Rating -->
											<div class="freelancer-rating">
												<div class="star-rating" data-rating="4.9"></div>
											</div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
											<li>Taux horaire <strong>100€ / h</strong></li>
										</ul>
									</div>
									<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->


							<!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">
										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<a href="single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-placeholder.png" alt=""></a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="#">Marcin Kowalski <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="Poland" data-tippy-placement="top"></a></h4>
											<span>Photographe</span>
											<!-- Rating -->
											<span class="company-not-rated margin-bottom-5">5 votes minimum</span>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
											<li>Taux horaire <strong>100€ / h</strong></li>
										</ul>
									</div>
									<a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

							<!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="#">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>Photographe</span>
											<!-- Rating -->
											<div class="freelancer-rating">
												<div class="star-rating" data-rating="4.9"></div>
											</div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
											<li>Taux horaire <strong>100€ / h</strong></li>
										</ul>
									</div>
									<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

						</div>
					</div>
					<!-- Listings Container / End -->

				</div>
			</div>


			<!-- Sidebar -->
			<div class="col-xl-4 col-lg-4">
				<div class="sidebar-container">
					<!-- Sidebar Widget -->
					<div class="sidebar-widget">
						<div class="job-overview">
							<div class="job-overview-headline">Récapitulatif</div>
							<div class="job-overview-inner">
								<ul>
									<li>
										<i class="icon-material-outline-local-atm"></i>
										<span>Votre budget</span>
										<h5>0€  - 1000€ </h5>
									</li>
									<li>
										<i class="icon-material-outline-location-on"></i>
										<span>Statut de la mission</span>
										<mark class="color" style="background-color: grey">Créée</mark>
										<mark class="color" style="background-color: #28b661">En cours</mark>
										<mark class="color" style="background-color: #2a41e8">Terminée</mark>
										<mark class="color" style="background-color: #e53038">Annulée</mark>
									</li>
									<li>
										<i class="icon-material-outline-business-center"></i>
										<span>Catégorie</span>
										<h5>Mariage</h5>
									</li>
									<li>
										<i class="icon-material-outline-local-atm"></i>
										<span>Sous Catégorie</span>
										<h5>Mariage hiver</h5>
									</li>
									<li>
										<i class="icon-material-outline-location-on"></i>
										<span>Format de livraison</span>
										<h5>Clé USB</h5>
									</li>
									<li>
										<i class="icon-material-outline-business-center"></i>
										<span>Temps estimé</span>
										<h5>1h à 2h</h5>
									</li>
									<li>
										<i class="icon-material-outline-local-atm"></i>
										<span>A quelle date ?</span>
										<h5>Lundi 30 Octobre 2019</h5>
									</li>

								</ul>
							</div>
						</div>
					</div>

				</div>
				<div style="text-align: center">
				<a href="/theme/user/hireo/single-freelancer-profile.html" class="button ripple-effect" style="margin: auto"><i class="icon-feather-download"></i> Imprimer la facture</a>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Leave a Review for Freelancer Popup
================================================== -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Laissez un avis</h3>
					<span>Rate <a href="#">Peter Valentín</a> for the project <a href="#">Shooting photo mariage</a> </span>
				</div>

				<!-- Form -->
				<form method="post" id="leave-review-form">

					<div class="feedback-yes-no">
						<strong>Was this delivered on budget?</strong>
						<div class="radio">
							<input id="radio-1" name="radio" type="radio" required>
							<label for="radio-1"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-2" name="radio" type="radio" required>
							<label for="radio-2"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong>Was this delivered on time?</strong>
						<div class="radio">
							<input id="radio-3" name="radio2" type="radio" required>
							<label for="radio-3"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-4" name="radio2" type="radio" required>
							<label for="radio-4"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong>Your Rating</strong>
						<div class="leave-rating">
							<input type="radio" name="rating" id="rating-radio-1" value="1" required>
							<label for="rating-radio-1" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-2" value="2" required>
							<label for="rating-radio-2" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-3" value="3" required>
							<label for="rating-radio-3" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-4" value="4" required>
							<label for="rating-radio-4" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-5" value="5" required>
							<label for="rating-radio-5" class="icon-material-outline-star"></label>
						</div><div class="clearfix"></div>
					</div>

					<textarea class="with-border" placeholder="Comment" name="message2" id="message2" cols="7" required></textarea>

				</form>

				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="leave-review-form">Leave a Review <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Leave a Review Popup / End -->
