<footer class="site-footer">
  <div class="site-footer-legal">© <%= Time.now.year %> <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Yoopeek</a></div>
  <div class="site-footer-right">
    Crée avec <i class="red-600 wb wb-heart"></i> par <a href="https://themeforest.net/user/creation-studio">Globodai</a>
  </div>
</footer>
