<div class="container">
  <div class="row">
    <div class="col-xl-12">

      <!-- Freelancers List Container -->
      <div class="freelancers-container freelancers-list-layout margin-top-35">
        <% @credits_offers.each do |credits_offer| %>
          <div class="freelancer">

            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Name -->
                <div class="freelancer-name">
                  <h1>  <%= raw t('credits_for.html', credits: float_formated(credits_offer.credits), for: (currency_formated credits_offer.price))  %> <%= raw("<mark>-#{credits_offer.reduction}%</mark>") if credits_offer.reduction.present? %></h1>
                  <!-- Rating -->
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <%= link_to checkout_credit_path(id: credits_offer.id), class: "button button-sliding-icon ripple-effect", data: { turbolinks: false } do %>
                <%= I18n.t("buy") %> <i class="icon-material-outline-arrow-right-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Tasks Container / End -->

    </div>
  </div>
</div>
