<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Yoopeek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2" type="submit">Log In</button>
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Register Business</button>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="">Trouvez des professionnels de la photographie.</h1>
    <div class="card my-5 pt-3">

      <div class="card-body p-4">

        <form>
          <div class="form-row align-items-center">
            <div class="form-group col-sm-4">
              <label class="" for="inlineFormInputName2">De quoi avez-vous besoin ?</label>
              <input type="text" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Photographe, caméraman, etc.">
            </div>
            <div class="form-group col-sm-4">
              <label class="" for="inlineFormInputGroupUsername2">Où en avez-vous besoin ?</label>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Montpellier, Nice, etc.">
            </div>

            <div class="form-group col-sm-4 mt-3">
              <button type="submit" class="btn btn-primary btn-block mt-3">Créer une mission</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
