
<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3>Messages</h3>
</div>

<div class="messages-container margin-top-0">
  <div class="row">
    <div class="col-sm-9" style="padding-right: 0px;">

      <div class="messages-container-inner">

        <!-- Messages -->


        <%= render partial: 'rooms' %>

        <!-- Messages / End -->

        <!-- Message Content -->
        <div class="message-content" id="messageContent">

        </div>
        <!-- Message Content -->

      </div>
    </div>
    <div class="col-sm-3" style="padding: 0px; border-left: 1px solid #eaeaea" id="jobInfos">

    </div>
  </div>
</div>
<!-- Messages Container / End -->
<div style="margin-top:40px">

</div>
<!-- Dashboard Container / End -->
<!-- This block is to display the messages thanks to the data-role sent by room_channel.js -->
<div class="message-content-inner d-none" data-role="message-template">
  <!-- Time Sign -->
  <div class="message-time-sign">
    <span data-role="message-date"></span>
  </div>

  <div class="message-bubble me">
    <div class="message-bubble-inner">
      <div class="message-avatar"><img src="/theme/user/hireo/images/user-avatar-small-01.jpg" alt="" /></div>
      <div class="message-text"><p data-role="message-text"></p></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<%= content_for :body_script do %>
<script type="text/javascript">
  urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null) {
      return null;
    }
    return decodeURI(results[1]) || 0;
  }
  $(function () {
    document.getElementById("room-<%= @room.id %>").click()
  })
</script>
<% end %>
