
  <!-- Header -->
  <div class="row">
    <div class="col-6">
      <div id="logo">
        <%= wicked_pdf_image_tag "logo.png",:size => "215x215" %>
      </div>
    </div>

    <!-- <div class="col-6">

      <p id="details">
        <strong>Facture:</strong> <%#= @order_transaction.invoice_number %> <br>
        <strong>Délivré:</strong> <%#= l(@invoice.created_at, format: :long) %> <br>
      </p>
    </div> -->
  </div>
